<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col">
        <h1 class=" text-white">Name: {{name}}</h1>
        <h1 class=" text-white">Loan ID:&nbsp;{{loanId}}</h1>
        <p class="text-white mt-0 mb-5">Loan Balance:&nbsp; &#8358;{{balance}}</p>
        <a href="" routerLinkActive="active" [routerLink]="['/loan-payment', loanId]" class="btn btn-info">Loan Repayments</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0"> Loan Account</h3>
            </div>
            <div class="col text-right">
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="oneLoanForm" (ngSubmit)="onSubmit()">
            <!-- Personal Details -->
            <h6 class="heading-small text-muted mb-4">Personal Details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Date Created</label>
                    <input type="text" class="form-control" formControlName="created" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Applicant's Name</label>
                    <span *ngIf="oneLoanForm.controls['name'].hasError('required')" class="text-danger text-sm mr-2">
                      &nbsp; *This field is required</span>
                    <input type="text" class="form-control" formControlName="name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="gender">Gender</label>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="gender" class="custom-control-input" id="male" value="Male" type="radio">
                      <label class="custom-control-label" for="male">Male</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="gender" class="custom-control-input" id="female" value="Female"
                        type="radio">
                      <label class="custom-control-label" for="female">Female</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="dateOfBirth">Date of Birth</label>
                    <span *ngIf="oneLoanForm.controls['dateOfBirth'].hasError('required')"
                      class="text-danger text-sm mr-2">
                      &nbsp; *This field is required</span>
                    <input type="date" name="dateOfBirth" placeholder="Eg. 02/09/1987" class="form-control"
                      formControlName="dateOfBirth">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="nationality">Nationality</label>
                    <span *ngIf="oneLoanForm.controls['nationality'].hasError('required')"
                      class="text-danger text-sm mr-2">&nbsp; *This field is required</span>
                    <input type="text" class="form-control" formControlName="nationality">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="phone">Phone</label>
                    <span *ngIf="oneLoanForm.controls['phone'].hasError('required')"
                      class="text-danger text-sm mr-2">&nbsp; *This field is required</span>
                    <input type="text" name="phone" class="form-control" formControlName="phone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="noOfChildren">No. of Children</label>
                    <input type="text" name="noOfChildren" class="form-control" formControlName="noOfChildren">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="noOfChildrenInSchool">No. of Children Attending
                      School</label>
                    <input type="text" name="noOfChildrenInSchool" class="form-control"
                      formControlName="noOfChildrenInSchool">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="otherDependants">Other Dependants</label>
                    <input type="text" name="otherDependants" class="form-control" formControlName="otherDependants">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />

            <!-- Marital Details -->
            <h6 class="heading-small text-muted mb-4">Marital Details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="maritalStatus">Marital Status</label>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="maritalStatus" class="custom-control-input" id="single" value="Single"
                        type="radio">
                      <label class="custom-control-label" for="single">Single</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="maritalStatus" class="custom-control-input" id="married" value="Married"
                        type="radio">
                      <label class="custom-control-label" for="married">Married</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="maritalStatus" class="custom-control-input" id="widow" value="Widow"
                        type="radio">
                      <label class="custom-control-label" for="widow">Widow</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="maritalStatus" class="custom-control-input" id="divorced" value="Divorced"
                        type="radio">
                      <label class="custom-control-label" for="divorced">Divorced</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="maritalStatus" class="custom-control-input" id="others" value="Others"
                        type="radio">
                      <label class="custom-control-label" for="others">Others</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="nameOfSpouse">Name of Spouse (If Married) </label>
                    <input type="text" name="nameOfSpouse" class="form-control" formControlName="nameOfSpouse">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />

            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Address</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="residentialAddress">Residential Address</label>
                    <span *ngIf="oneLoanForm.controls['residentialAddress'].hasError('required')"
                      class="text-danger text-sm mr-2">
                      &nbsp; *This field is required</span>
                    <input name="residentialAddress" class="form-control" type="text"
                      formControlName="residentialAddress">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="permanentAddress">Permanent Address</label>
                    <input name="permanentAddress" class="form-control" type="text" formControlName="permanentAddress">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="nxtOfKinGender">Gender</label>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="houseType" class="custom-control-input" id="rented" value="Rented"
                        type="radio">
                      <label class="custom-control-label" for="rented">Rented</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="houseType" class="custom-control-input" id="owned" value="Owned"
                        type="radio">
                      <label class="custom-control-label" for="owned">Owned</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="lengthOfStay">How long have you lived there?</label>
                    <input type="text" name="lengthOfStay" class="form-control" formControlName="lengthOfStay">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />

            <!-- Business Details -->
            <h6 class="heading-small text-muted mb-4">Business Details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="nameOfBusiness">Name of Business</label>
                    <input type="text" name="nameOfBusiness" class="form-control" formControlName="nameOfBusiness">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="address">Business  Address</label>
                    <input type="text" name="address" class="form-control " formControlName="address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="">Business Premises</label>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="locationType" class="custom-control-input" id="rented" value="Rented" type="radio">
                      <label class="custom-control-label" for="rented">Rented</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="locationType" class="custom-control-input" id="owned" type="radio"
                        value="Owned">
                      <label class="custom-control-label" for="selfEmployed">Owned</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="typeOfBusiness">Type of Business</label>
                    <input type="text" name="typeOfBusiness" class="form-control " formControlName="typeOfBusiness">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="closestMarket">Closest Market to Business</label>
                    <input type="text" name="closestMarket" class="form-control " formControlName="closestMarket">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />

            <!-- Bank Details -->
            <h6 class="heading-small text-muted mb-4">Account in Other Banks/Financial Institutions</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="bankName">Bank</label>
                    <input type="text" name="bankName" class="form-control" formControlName="bankName">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="bankAccountNo">Account No.</label>
                    <input type="text" name="bankAccountNo" class="form-control" formControlName="bankAccountNo">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="bankAccountStatus">Status (Dr/Cr)</label>
                    <input type="text" name="bankAccountStatus" class="form-control" formControlName="bankAccountStatus">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="bankBranch">Branch</label>
                    <input type="text" name="bankBranch" class="form-control" formControlName="bankBranch">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            
            <!-- Guarantors -->
            <h6 class="heading-small text-muted mb-4">Guarantors</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="guarantor1Name">Name</label>
                    <input name="guarantor1Name" class="form-control" type="text"
                      formControlName="guarantor1Name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="guarantor1Address">Residential Address</label>
                    <input name="guarantor1Address" class="form-control" type="text"
                      formControlName="guarantor1Address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="guarantor1Phone1">Phone 1</label>
                    <input type="text" name="guarantor1Phone1" class="form-control" formControlName="guarantor1Phone1">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="guarantor1Phone2">Phone 2</label>
                    <input type="text" name="guarantor1Phone2" class="form-control" formControlName="guarantor1Phone2">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="guarantor2Name">Name</label>
                    <input name="guarantor2Name" class="form-control" type="text"
                      formControlName="guarantor2Name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="guarantor2Address">Residential Address</label>
                    <input name="guarantor2Address" class="form-control" type="text"
                      formControlName="guarantor2Address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="guarantor2Phone1">Phone 1</label>
                    <input type="text" name="guarantor2Phone1" class="form-control" formControlName="guarantor2Phone1">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="guarantor2Phone2">Phone 2</label>
                    <input type="text" name="guarantor2Phone2" class="form-control" formControlName="guarantor2Phone2">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />

            <!-- Loan Details -->
            <h6 class="heading-small text-muted mb-4">Loan Details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="loanPurpose">Loan Purpose</label>
                    <input name="loanPurpose" class="form-control" type="text" formControlName="loanPurpose">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="amountAppliedFor">Amount Applied For (&#8358;)</label>
                    <input type="text" name="amountAppliedFor" class="form-control " formControlName="amountAppliedFor">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="approvedLoanAmount">Approved Loan Amount</label>
                    <input type="text" name="approvedLoanAmount" class="form-control "
                      formControlName="approvedLoanAmount">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="approvedTerms">Terms</label>
                    <input type="text" name="approvedTerms" class="form-control" formControlName="approvedTerms">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="interestRate">Interest Rate</label>
                    <input type="text" name="interestRate" class="form-control " formControlName="interestRate">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="processingFees">Loan Processing Fees</label>
                    <input type="text" name="processingFees" class="form-control " formControlName="processingFees">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="savingsDeposit">Deposit</label>
                    <input type="text" name="savingsDeposit" class="form-control" formControlName="savingsDeposit">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="totalRepaymentAmount">Total Amount to Repay</label>
                    <input type="text" name="totalRepaymentAmount" class="form-control "
                      formControlName="totalRepaymentAmount">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="totalNoOfRepayment">Total No. of Loan Payments</label>
                    <input type="text" name="totalNoOfRepayment" class="form-control "
                      formControlName="totalNoOfRepayment">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="frequencyOfPayment">Frequency of Payment</label>
                    <input type="text" name="frequencyOfPayment" class="form-control"
                      formControlName="frequencyOfPayment">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="instalmentAmount">Instalment Amount</label>
                    <input type="text" name="instalmentAmount" class="form-control "
                      formControlName="instalmentAmount">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="penaltyRate">Penalty Rate</label>
                    <input type="text" name="penaltyRate" class="form-control "
                      formControlName="penaltyRate">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="disbursementDate">Loan Disbursement Date</label>
                    <input type="text" name="disbursementDate" placeholder="Eg. 12/03/2020" class="form-control"
                      formControlName="disbursementDate">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <br><input type="submit" value="Update" class="btn btn-primary">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
          </form>
        </div>
      </div>
    </div>
  </div>